<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= image_pack_tag "media/images/stimulus-logo.svg", class: "block h-8 w-auto", alt: "Stimulus Toolbox" %>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex">
            <%= link_to "Home", root_path, class: "#{"bg-gray-800" if controller_name == "home"} px-3 py-2 rounded-md text-sm font-medium leading-5 text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
            <%= link_to "Toolbox", projects_path, class: "#{"bg-gray-800" if controller_name == "projects"} ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
