<div class="min-h-screen bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <header class="mb-3">
      <h1 class="text-3xl font-bold leading-tight text-gray-900">
        Projects
      </h1>
    </header>

    <main>
      <%= render "/projects/search_form" %>
      <%= render "/projects/table" %>
    </main>
  </div>
</div>
