<div class="min-h-screen bg-gray-100">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <main>
      <h1 class="text-2xl font-bold mb-3">Submit a Project</h1>

      <div class="rounded-md bg-blue-50 border border-blue-200 p-3 mt-3">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-blue-400" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3 flex-1 md:flex md:justify-between">
            <p class="text-sm leading-5 text-blue-700">
              Must be related to the <a href="" class="underline">Stimulus</a> JavaScript library.
            </p>
          </div>
        </div>
      </div>

      <%= render "/projects/form" %>
    </main>
  </div>
</div>
